@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@600&family=Roboto+Mono:wght@400;600&family=Roboto:wght@100;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Roboto Mono";
}

@font-face {
  font-family: "Akira Expanded";
  src: local("Akira"),
    url("./fonts/Akira/Akira_Expanded_Demo.otf") format("OpenType");
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body > div#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 100vh;
}

div#root > main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-selection {
    outline: 0;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
  }
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  button {
    outline: 0;
  }
}

.bg-fOrange-linear {
  background: linear-gradient(
    180deg,
    rgba(227, 148, 52, 0.25) 0%,
    rgba(227, 148, 52, 0.25) 380%
  );
}
.bg-fGreen-linear {
  background: linear-gradient(
    180deg,
    rgba(52, 227, 101, 0.25) 0%,
    rgba(52, 227, 101, 0.25) 100%
  );
}
.bg-fRed-linear {
  background: linear-gradient(
    180deg,
    rgba(227, 73, 52, 0.25) 0%,
    rgba(227, 73, 52, 0.25) 100%
  );
}
.bg-fBlue-linear {
  background: linear-gradient(
    180deg,
    rgba(52, 164, 227, 0.25) 0%,
    rgba(52, 164, 227, 0.25) 100%
  );
}
.bg-444-linear {
  background: linear-gradient(
    180deg,
    rgba(66, 66, 66, 0.25) 0%,
    rgba(66, 66, 66, 0.25) 100%
  );
}
.bg-181818-linear {
  background: linear-gradient(
    180deg,
    rgba(24, 24, 24, 0.25) 0%,
    rgba(24, 24, 24, 0.25) 100%
  );
}

.bg-openedTable {
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0.6) 55%
  );
}
